/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7),
      /* black with 50% opacity */
      rgba(0, 0, 0, 0.9)
      /* black with 50% opacity */
    ), url(.\images\library.jpg);
  font-family: "Lucida Handwriting", "Brush Script MT";
  /* image inside public folder */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #86897a;
  min-height: 100vh;
}

/* Header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color:rgba(0, 0, 0, 0.95) ;

  /* solid black hides everything */
  /* OR try: background: rgba(0, 0, 0, 0.85); for slight transparency */
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  /* always on top */
}

.header-container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  color: #ffd700;
}

.nav-links a {
  margin-left: 20px;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #ffd700;
}

/* Footer */
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #000;
    padding: 15px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

/* Main content */
.main-content {
  margin-top: 100px;
  margin-bottom: 80px;
  text-align: center;
  padding: 20px;
  backdrop-filter: none;
}

.main-content h1 {
  font-size: 40px;
  margin-bottom: 20px;
  color: #ffd700;
}

.main-content p {
  font-size: 18px;
  color: #85c15d;
  max-width: 700px;
  margin: 0 auto 30px;
  line-height: 1.6;
}

/* Buttons */
.button-group {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.main-btn {
  background: transparent;
  border: 2px solid #ffd700;
  color: #ffd700;
  padding: 12px 24px;
  font-size: 18px;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.main-btn:hover {
  background: #ffd700;
  color: #000;
  transform: scale(1.05);
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 80px;
  /* height of header */
}